<section class="user">
    <i class="mr-10 p-2">
      <% if user.user_profile.profile_picture.attached? %>
        <%= image_tag(user.user_profile.profile_picture, width: "100px") %>
      <%else %>
        <%= image_tag("profile.png", width: "100px", background: "#55595c", color: "#eceeef") %>
      <% end %>
    </i>
    <% full_name =  user.name + " " + user.lastName%>
    <section class="p-2">
      <p><b><%= link_to full_name, user_path(user.id)%></b></p>
      <p><b>Bio: </b><%= UserProfile.where(user_id: user.id)[0].bio %></p>
      <p><b>E-mail: </b> <%= user.email %></p>
      <p><b>Location: </b> <%= user.location %></p>
    </section>

  <div class="ml-auto">
    <% if system_admin_signed_in?%>
      <%= link_to(
              content_tag(
                  :i,
                  nil,
                  class: 'fa fa-trash-o fa-lg'
              ),
              user_path(user.id),
              method: :delete
          )
      %>
    <% end %>
  </div>

</section>