<div class="row ml-0 mt-3">
  <h2>Edit User</h2>
</div>

<div class="row ml-0 mt-2">
  <p>Please enter the required information to edit the User:</p>
</div>

<div class="row ml-0">
  <%= form_with model: @user do |form| %>
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :lastName %>
      <%= form.text_field :lastName, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :profile_picture, "Set Profile Picture" %>
      <%= form.file_field :profile_picture %>
    </div>
    <div class="form-group">
      <%= form.label :location %>
      <%= form.text_field :location, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :address %>
      <%= form.text_field :address, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= form.label :bio %>
      <%= form.text_field :bio,:placeholder => @profile.bio, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.submit "Edit", class: ["btn", "btn-primary"] %>
      <%= link_to "Back", :back, class: ["btn", "btn-secondary"] %>
    </div>
  <% end %>
</div>
