<p id="notice"><%= notice %></p>
<%= stylesheet_link_tag "profile.css" %>

<h1 class="profile_title">Your Profile</h1>
<section class="profile_wrapper">
  <section class="user_image_wrapper">
    <% if @profile.profile_picture.attached? %>
      <%= image_tag(@profile.profile_picture, width: "200px") %>
    <%else %>
      <i class="far fa-square fa-10x"></i>
    <% end %>
  </section>
  <section class="user_info_wrapper">
    <h1 class="wrapper_title"><%= @user.name %>  <%= @user.lastName %></h1>
    <ul>
      <li><b><%= @user.name %>'s bio:</b> <%= @profile.bio %></li>
      <li><b>Email:</b> <%= @user.email %></li>
      <li><b>Location:</b> <%= @user.location %></li>
      <li><b>Address:</b> <%= @user.address %></li>
      <li><b>Phone:</b> <%= @user.phone %></li>
    </ul>

  </section>
  <section class="user_options_wrapper">
    <%= link_to "Edit Profile", edit_user_path %>
    <%= link_to "View Friends", users_path %>
    <% if @organization != nil%>
      <%= link_to "View Organization", organization_path(@organization.organization_id) %>
    <% else %>
      <%= link_to "Join a Organization", organizations_path %>
    <% end %>
  </section>
</section>

<h1 class="profile_title">Your Created Events:</h1>
<% @events_created.each do |event| %>
  <section class="user_events_wrapper">
    <section class="events_upper">

    </section>
    <section class="events_details">
      <i class="far fa-square fa-8x"></i>
      <section class="event_text">
        <h3><%= link_to event.name, event_path(event.id) %></h3>
        <%= event.description %>
      </section>
    </section>
    <section class="events_down">

    </section>
  </section>
<% end %>

