<%= stylesheet_link_tag "profile.css" %>

<h1 class="profile_title">Your Profile</h1>
<section class="profile_wrapper">
  <section class="user_image_wrapper">
    <% if @profile.profile_picture.attached? %>
      <%= image_tag(@profile.profile_picture, width: "200px") %>
    <%else %>
      <%= image_tag("profile.png", width: "200px", background: "#55595c", color: "#eceeef") %>
    <% end %>
  </section>
  <section class="user_info_wrapper">
    <h1 class="wrapper_title"><%= @user.name %>  <%= @user.lastName %></h1>
    <ul>
      <li><b><%= @user.name %>'s bio:</b> <%= @profile.bio %></li>
      <li><b>Last access: </b><%= @user.last_sign_in_at %></li>
      <li><b>Email:</b> <%= @user.email %></li>
      <li><b>Location:</b> <%= @user.location %></li>
      <li><b>Address:</b> <%= @user.address %></li>
      <li><b>Phone:</b> <%= @user.phone %></li>
    </ul>

  </section>
  <section class="user_options_wrapper">
    <% if user_signed_in? %>
      <% if current_user.id.to_s == params[:id].to_s %>
        <%= link_to "Edit Profile", edit_user_path %>
        <%= link_to "Manage your account", edit_user_registration_path %>
        <% if @organization != nil%>
          <%= link_to "View Organization", organization_path(@organization.organization_id) %>
        <% else %>
          <%= link_to "Join a Organization", organizations_path %>
        <% end %>
      <% else %>
        <%= link_to "Report User", edit_user_path %>
        <a role="button" data-toggle="modal" data-target="#exampleModal">Send message</a>
        <% if @organization != nil%>
          <%= link_to "View Organization", organization_path(@organization.organization_id) %>
        <% end %>
      <% end %>
    <%elsif system_admin_signed_in? %>
      <%= link_to "Edit Profile", edit_user_path %>
      <%= link_to "Delete user", user_path(@user.id), method: :delete %>
      <% if @organization != nil%>
        <%= link_to "View Organization", organization_path(@organization.organization_id) %>
      <% end %>
    <% end %>

  </section>
</section>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
        <div class="modal-body">
          <%= form_with model: @message do |form| %>
            <%= form.text_area :message, class: "form-control", placeholder: "Write a message..."%>
            <%= form.hidden_field :to_id, value: @user.id %>
            <%= form.submit "Send", class: ["btn", "btn-primary"] %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Send message</button>
        </div>

    </div>
  </div>
</div>

<% if user_signed_in? %>
  <% if current_user.id.to_s == params[:id].to_s %>
    <h1 class="profile_title">Your Created Events:</h1>
  <% else %>
    <h1 class="profile_title"><%= @user.name %>'s Created Events:</h1>
  <% end %>
<% else %>
  <h1 class="profile_title"><%= @user.name %>'s Created Events:</h1>
<% end %>
<div class="recent_section">
  <% if @events_created != []%>
    <%= render :partial => 'events/events_list', collection: @events_created, as: :event %>
  <% else %>
    <section class="event_section">
      <h2 class="Nothing_found"> Nothing Found </h2>
    </section>
  <% end %>
</div>

<br><br>
<% if user_signed_in? %>
  <% if current_user.id.to_s == params[:id].to_s %>
    <h1 class="profile_title">Events you were invited to:</h1>
  <% else %>
    <h1 class="profile_title">Events <%= @user.name %> was invited to:</h1>
  <% end %>
<% else %>
  <h1 class="profile_title"><%= @user.name %>'s Created Events:</h1>
<% end %>
<section class="recent_section">
  <% if @events_invited != []%>
    <%= render :partial => 'events/events_list', collection: @events_invited, as: :event %>
  <% else %>
    <section class="event_section">
      <h2 class="Nothing_found"> Nothing Found </h2>
    </section>
  <% end %>
</section>


