
<section class="event_section">
  <section class="recent_title">
    <% if user_signed_in?%>
      <p class="recent_event_name"><b><%= link_to event.name, event_path(event.id)%></b></p>
    <% elsif system_admin_signed_in?%>
      <p class="recent_event_name"><b><%= link_to event.name, admin_event_path(event.id)%></b></p>
    <% end %>
    <section class="recent_buttons">
      <% if user_signed_in? %>
        <% if current_user.id.to_s == event.event_organizer.user.id.to_s %>
          <%= link_to(
                  content_tag(
                      :i,
                      nil,
                      class: 'fas fa-user-plus'
                  ),
                  invites_event_path(event.id),
                  method: :get
              )
          %>
        <% end %>
      <% elsif system_admin_signed_in?%>
        <%= link_to(
                content_tag(
                    :i,
                    nil,
                    class: 'fas fa-user-plus'
                ),
                invites_admin_event_path(event.id),
                method: :get
            )
        %>
      <% end %>
      <i class="fas fa-bookmark"></i>
      <i class="fas fa-bell"></i>
    </section>
  </section>
  <section class="recent_body">
    <section class="event_image_wrapper">
      <% if event.event_page.event_banner_picture.attached? %>
        <i><%= image_tag(event.event_page.event_banner_picture, width: "100px") %></i>
      <%else %>
        <i><%= image_tag("event.png", width: "100px", background: "#55595c", color: "#eceeef") %></i>
      <% end %>
    </section>
    <section class="recent_details">
      <p class="recent_event_desc"><b>Description:</b> <%= event.description %></p>
      <section class="recent_date_box">
        <% if event.start_date == nil %>
          <i class="mt-1 far fa-calendar-alt fa-1.5x"></i>
          <p class="recent_startDate">Date not set yet, vote for it! Go to <b><%= link_to "Poll", poll_path( Poll.where(event_id:event.id)[0]) %></b></p>
        <% else %>
          <i class="mt-1 far fa-calendar-alt fa-1.5x mb-0"></i>
          <p class="recent_startDate"><b>Start date:</b> <%= event.start_date %> </p>
          <i class="mt-1 fas fa-hourglass-end fa-1.5x mb-0"></i>
          <p class="recent_endDate"><b>End date:</b> <%= event.end_date %></p>
        <% end %>
      </section>
      <% name= event.event_organizer.user.name+" "+event.event_organizer.user.lastName %>
      <p class="recent_creator"><b>Created by: <%= link_to name, user_path(event.event_organizer.user) %></b></p>
    </section>
  </section>
</section>