<%= stylesheet_link_tag "new_event" %>

<h1 class="title">New Event</h1>

<section class="new_event_wrapper">
  <h1 class="wrapper_title">General information: </h1>
  <%= form_with model: @user do |form| %>
    <section class="new_event_name">
      <label for="name_field"><b>Event name:</b> </label>
      <%= form.text_field :name, class: "form-control" %><br><br>
    </section>
    <section class="new_event_desc">
      <label for="desc_field"><b>Event description:</b> </label>
      <%= form.text_field :description, class: "form-control" %><br><br>
    </section>

    <%= radio_button_tag(:start_date, "child") %>
    <%= select_date Date.today, prefix: :start_date %><br><br>
    <%= radio_button_tag(:start_date, "child") %>
    <%= label_tag(:poll, "Set a Poll") %>
  <% end %>
</section>

<section class="invite_wrapper">
  <h1 class="wrapper_title">Invite Friends and Users: </h1>
  <% @invite_users.each do |user| %>
    <section class="user">
      <i class="far fa-square fa-5x"></i>
      <% full_name =  user.name + " " + user.lastName%>
      <p><b><%= link_to full_name, user_path(user.id)%></b></p>
    </section>
  <% end %>
</section>


<section class="button_wrapper">
  <button class="button">Create Event</button>
   <!-- render 'form', event: @event -->

</section>
