<%= stylesheet_link_tag "new_form" %>

<h1 class="title">New Event</h1>

<%= form_with model: @event  do |form| %>
  <section class="new_event_wrapper">
    <h1 class="wrapper_title">General information: </h1>

      <section class="new_event_name">
        <label for="name_field"><b>Event name:</b> </label>
        <%= form.text_field :name, class: "form-control" %>
      </section>
      <section class="new_event_desc">
        <label for="desc_field"><b>Event description:</b> </label>
        <%= form.text_field :description, class: "form-control" %>
      </section>
      <section class="new_event_desc">
        <label for="desc_field"><b>Event Location:</b> </label>
        <%= form.text_field :location, class: "form-control" %>
      </section>
      <div class="form-group">
        <label for="desc_field"><b>Minimum Guests:</b> </label>
        <%= form.number_field :minimumGuests, class: "form-control" %>
      </div>
      <div class="form-group">
        <label for="desc_field"><b>Maximum Guests:</b> </label>
        <%= form.number_field :maximumGuests, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= form.label :event_banner_picture, "Set Event Photo" %>
        <%= form.file_field :event_banner_picture %>
      </div>
      <div class="form-group">
        <%= radio_button_tag(:is_public, "public", @event.is_public) %>
        <h7>Public</h7><br>
        <%= radio_button_tag(:is_public, "not public", !@event.is_public)%>
        <h7>Private</h7><br>
      </div>
      <h4> Set the date: </h4>
      <section class="date_wrapper">
        <p>
          <u onclick="show_poll(false)"><%= radio_button_tag(:date, "not poll", true) %></u>
          <%= label_tag("Select a date:") %>
          <h7 id="date_wrap" class="date_picker"> Start date:
            <%= select_date Date.today, prefix: :start_date %>
            End date:
            <%= select_date Date.today, prefix: :end_date %><br><br>
          </h7>
        </p>
        <u onclick="show_poll(true)"><%= radio_button_tag(:date, "is poll") %></u>
        <%= label_tag("Set a Poll:") %>
      </section>
    <script>
      function show_poll(b){
          var poll = document.getElementById("poll_wrap");
          var date = document.getElementById("date_wrap");
          if(b){
              poll.style.display = "inline";
              date.style.display = "none";
          }
          else{
              poll.style.display = "none";
              date.style.display = "inline";
          }
      }
    </script>
    <div id="poll_wrap" class="poll_wrapper form-group">
      <p> Create a Poll: format (DD-MM-YYYY) and a space between if you want another date</p>
      <%= form.fields_for :poll_attributes do |poll| %>
        <div class="form-group">
          <%= poll.label :name %>
          <%= poll.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= poll.label :possibleDates %>
          <%= poll.text_field :possibleDates, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= poll.label :minimumAnswers %>
          <%= poll.number_field :minimumAnswers, class: "form-control" %>
        </div>
      <% end %>
    </div>
  </section>


  <section class="button_wrapper">
    <%= form.submit "Create Event", class: "button" %>
  </section>

<% end %>
