
<section id="section">
  <h1>Recent event activity</h1>
  <i class="far fa-image fa-4x"></i>
  <table>
    <tr>
      <th>Index</th>
      <th>Name</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Location</th>
      <th>Description</th>
      <th>Event Organizer</th>
    </tr>
    <% @recent_events.each_with_index do |invitation, index|   %>
      <tr>
        <td><%= index+1 %></td>
        <td><%= link_to invitation.event.name, controller:'events', action: "show", id: invitation.event_id %></td>
        <td> <%= invitation.event.start_date %></td>
        <td><%= invitation.event.end_date %></td>
        <td><%= invitation.event.location %></td>
        <td> <%= invitation.event.description %></td>
        <td> <%= invitation.event.event_organizer.user.name %></td>
      </tr>
    <% end %>
  </table>
</section>
<aside id="other_activity">
  <h1>Other Activity</h1>
</aside>