<%= stylesheet_link_tag "home.css" %>
<section class="page">
  <% if user_signed_in? %>
    <div class="main_section">
      <h1 class="title"><b>Recent event activity</b></h1>
      <section class="recent_section">
        <% @recent_events.each do |invitation|   %>
          <section class="event_section">
            <section class="recent_title">
              <p><b>New Event Created:</b></p>
              <section class="recent_buttons">
                <i class="fas fa-user-plus"></i>
                <i class="fas fa-bookmark"></i>
                <i class="fas fa-bell"></i>
              </section>
            </section>
            <section class="recent_body">
              <section class="event_image_wrapper">
                <% if invitation.event.event_page.event_banner_picture.attached? %>
                  <%= image_tag(invitation.event.event_page.event_banner_picture, width: "120px") %>
                <%else %>
                  <%= image_tag("event.png", width: "120px", background: "#55595c", color: "#eceeef") %>
                <% end %>
              </section>
              <section class="recent_details">
                <p class="recent_event_name"><b><%= link_to invitation.event.name, event_path(invitation.event_id)%></b></p>
                <p class="recent_event_desc">Event Description: <%= invitation.event.description %></p>
                <section class="recent_date_box">
                  <% if invitation.event.start_date == nil %>
                    <i class="mt-1 mr-1 far fa-calendar-alt fa-1.8x"></i>
                    <p><%= link_to "Poll Link", poll_path( Poll.where(event_id:invitation.event_id)[0]) %></p>
                  <% else %>
                    <i class="mt-1 far fa-calendar-alt fa-1.8x"></i>
                    <p class="recent_startDate"><%= invitation.event.start_date %> </p>
                    <i class="mt-1 fas fa-hourglass-end fa-1.8x"></i>
                    <p class="recent_endDate"><%= invitation.event.end_date %></p>
                  <% end %>
                </section>
              </section>
            </section>
          </section>
        <% end %>
      </section>
    </div>

    <div class="others">
      <h1 class="other_header"><b>Other Activity</b></h1>
      <section class="other_activity">
        <% @recent_notifications.each do |notification| %>
          <section class="notification_wrapper">
            <p>You got a new notification:</p>
            <%= notification.message %>
          </section>
        <% end %>
      </section>
    </div>
  <% elsif system_admin_signed_in? %>
    <div class="main_section">
      <h1 class="title"><b>Admin Menu</b></h1>
      <section class="recent_section">
        <h3><%= link_to "Manage events", admin_events_path %></h3>
        <h3><%= link_to "Manage organizations", admin_organizations_path %></h3>
      </section>
    </div>
  <% else %>
    <div class="unlogged_body_user">
      <h1 class="title">Join Our Community Now!!</h1>
    </div>
  <% end %>
</section>
