<%= stylesheet_link_tag "search.css" %>

<h1 class="title">Searching</h1>


<h1 class="subtitle">users:</h1>

<section class="user_wrapper">
  <%= render :partial => 'users/user_list', collection: @users_by_name, as: :user %>
</section>

<table style="color: white">
  <thead>
  <br><br><%= "Users by UserName:" %>
  <tr>
    <th>UserName</th>
    <th>Biography</th>
  </tr>
  </thead>
  <tbody>
  <% @users_by_username.each do |user|%>
    <tr>
      <th><%= user.userName %></th>
      <th><%= user.bio%></th>
    </tr>
    </tbody>
  <% end %>
  </table>

<table style="color: white">
  <thead>
  <br><br><%= "Organizations:" %>
  <tr>
    <th>Name</th>
    <th>Members</th>
  </tr>
  </thead>
  <tbody>
  <% @organizations_by_name.each do |organization|%>
    <tr>
      <th><%= organization.name %></th>
      <th><%= organization.members%></th>
    </tr>
    </tbody>
  <% end %>
</table>


<table style="color: white">
  <thead>
  <br><br><%= "Events by Name:" %>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Location</th>
    <th>Description</th>
    <th>Public</th>
  </tr>
  </thead>
  <tbody>
  <% @events_by_title.each do |event|%>
    <tr>
      <th><%= event.name %></th>
      <th><%= event.start_date%></th>
      <th><%= event.end_date%></th>
      <th><%= event.location%></th>
      <th><%= event.description%></th>
      <th><%= event.is_public%></th>
    </tr>
    </tbody>
  <% end %>
  </table>

<table style="color: white">
  <thead>
  <br><br><%= "Events by Description:" %>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Location</th>
    <th>Description</th>
    <th>Public</th>
  </tr>
  </thead>
  <tbody>
  <% @events_by_desc.each do |event|%>
    <tr>
      <th><%= event.name %></th>
      <th><%= event.start_date%></th>
      <th><%= event.end_date%></th>
      <th><%= event.location%></th>
      <th><%= event.description%></th>
      <th><%= event.is_public%></th>
    </tr>
    </tbody>
  <% end %>
  </table>

<table style="color: white">
  <thead>
  <br><br><%= "Events by Creator:" %>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Location</th>
    <th>Description</th>
    <th>Public</th>
  </tr>
  </thead>
  <tbody>
  <% @event_by_creator.each do |event|%>
    <tr>
      <th><%= event.name %></th>
      <th><%= event.start_date%></th>
      <th><%= event.end_date%></th>
      <th><%= event.location%></th>
      <th><%= event.description%></th>
      <th><%= event.is_public%></th>
    </tr>
    </tbody>
  <% end %>
  </table>

<table style="color: white">
  <thead>
  <br><br><%= "Events by Organization:" %>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Location</th>
    <th>Description</th>
    <th>Public</th>
  </tr>
  </thead>
  <tbody>
  <% @event_by_organization.each do |event|%>
    <tr>
      <th><%= event.name %></th>
      <th><%= event.start_date%></th>
      <th><%= event.end_date%></th>
      <th><%= event.location%></th>
      <th><%= event.description%></th>
      <th><%= event.is_public%></th>
    </tr>
    </tbody>
  <% end %>
  </table>