<%= stylesheet_link_tag "search.css" %>

<h1 class="title">Searching</h1>


<h1 class="subtitle">Users by name:</h1>

<section class="wrapper">
  <%= render :partial => 'users/user_list', collection: @users_by_name, as: :user %>
</section>

<h1 class="subtitle">Users by username:</h1>

<section class="wrapper">
  <%= render :partial => 'users/user_list', collection: @users_by_username, as: :user %>
</section>

<h1 class="subtitle">Organizations by name:</h1>

<section class="wrapper">
  <%= render :partial => 'organizations/organization_list', collection: @organizations_by_name, as: :organization %>
</section>

<h1 class="subtitle">Events by name:</h1>

<section class="wrapper">
  <%= render :partial => 'events/events_list', collection: @events_by_title, as: :event %>
</section>

<h1 class="subtitle">Events by description:</h1>

<section class="wrapper">
  <%= render :partial => 'events/events_list', collection: @events_by_desc, as: :event %>
</section>

<h1 class="subtitle">Events by Creator:</h1>

<section class="wrapper">
  <%= render :partial => 'events/events_list', collection: @events_by_creator, as: :event %>
</section>

<h1 class="subtitle">Events by organization name:</h1>

<section class="wrapper">
  <%= render :partial => 'events/events_list', collection: @events_by_organization, as: :event %>
</section>