<br/>
<section class="section_wrapper pr-5 pl-5">
  <h1 class="title" align="center">Log in to your account</h1>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" , class: "form-control"%>
    </div>

    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" , class: "form-control"%>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>
    <div align="center">
      <div class="actions">
        <%= f.submit "Log in!", class: ["btn", "btn-primary", "btn-lg"]%>
      </div>
      <br />
      <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
      <% if resource_name.to_s == "user" %>
        <%= link_to "Sign in with Google", user_google_oauth2_omniauth_authorize_path %>
      <%end %>
    </div>
  <% end %>
</section>

<section class="section_wrapper">
  <br/>
  <h1 class="title" align="center">Not a member yet?</h1>
  <h1 class="title" align="center">What are you waiting for?!</h1>
  <br />
  <div  align="center">
    <%= button_to "Sign up", new_registration_path(resource_name),class: ["btn", "btn-primary", "btn-lg"], method: :get %><br />
  </div>
</section>
