<section class="organization">
  <i class="mr-10">
    <% if organization.organization_profile.banner_picture.attached? %>
      <%= image_tag(organization.organization_profile.banner_picture, width: "100px") %>
    <%else %>
      <%= image_tag("organization.jpeg", width: "100px", background: "#55595c", color: "#eceeef") %>
    <% end %>
  </i>

  <section>
    <p><b><%= link_to organization.name, organization_path(organization.id)%></b></p>
    <p><b>Description: </b><%= OrganizationProfile.where(organization_id: organization.id)[0].description %></p>
    <% admin =  OrganizationAdmin.where(organization_id: organization.id)[0]%>
    <% OrganizationAdmin.where(organization_id: organization.id)[0] %>
    <p><b>Creator: </b><%= admin.user.name+" "+admin.user.lastName %></p>
  </section>
</section>