<%= stylesheet_link_tag "profile.css" %>

<h1 class="profile_title"><%= @organization.name %>'s Profile</h1>
<section class="profile_wrapper">
  <section class="user_image_wrapper">
    <% if @profile.banner_picture.attached? %>
      <%= image_tag(@profile.banner_picture, width: "200px") %>
    <%else %>
      <%= image_tag("organization.jpeg", width: "200px", background: "#55595c", color: "#eceeef", class: "m-1") %>
    <% end %>
  </section>
  <section class="user_info_wrapper">
    <section class="info">
      <p class="info_title"><b><%= @organization.name %>'s Description:</b> </p>
      <p><%= @profile.description %></p>
    </section>
  </section>
  <section class="user_options_wrapper">
    <% if user_signed_in? %>
      <% if current_user.id.to_s == @organization.organization_admins[0].user_id.to_s %>
        <%= link_to "Edit Organization", edit_organization_path %>
      <% else %>
        <a role="button" data-toggle="modal" data-target="#reportModal">Report Organization</a>
        <%= link_to "View Creator", user_path(@organization_creator.user_id) %>
      <% end  %>
    <% elsif system_admin_signed_in? %>
      <%= link_to "Edit Organization", edit_organization_path %>
    <% end %>
    <%= link_to "View users", users_path %>
  </section>
</section>

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: report_organization_url ,method: "post" do |form| %>
          <%= form.text_area :reason, class: "form-control", placeholder: "Write the reason of your report..."%>
          <%= form.submit "Send", class: ["btn", "btn-primary"] %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<h1 class="profile_title">This Organization's Public Events:</h1>
<div class="recent_section">
  <% if @organization_events != []%>
    <%= render :partial => 'events/events_list', collection: @organization_events, as: :event %>
  <% else %>
    <section class="event_section">
      <h2 class="Nothing_found"> Nothing Found </h2>
    </section>
  <% end %>
</div>