<%= stylesheet_link_tag "profile.css" %>
<div class="d-flex align-items-center bd-highlight mb-3">
  <h1 class="profile_title mr-auto p-2 bd-highlight"><%= @organization.name %>'s Profile</h1>
  <% if user_signed_in? %>
    <% if current_user.id.to_s == @organization.organization_admins[0].user_id.to_s %>

      <div class="trash p-2 bd-highlight"><%= link_to(
                                                  content_tag(
                                                      :i,
                                                      nil,
                                                      class: 'fa fa-trash-o fa-3x'
                                                  ),
                                                  organization_path(@organization.id),
                                                  method: :delete
                                              )
      %></div>
    <% end %>
  <% end %>
</div>
<section class="profile_wrapper">
  <section class="user_image_wrapper">
    <% if @profile.banner_picture.attached? %>
      <%= image_tag(@profile.banner_picture, width: "200px") %>
    <%else %>
      <%= image_tag("organization.jpeg", width: "200px", background: "#55595c", color: "#eceeef", class: "m-1") %>
    <% end %>
  </section>
  <section class="user_info_wrapper">
    <section class="info">
      <p class="info_title"><b><%= @organization.name %>'s Description:</b> </p>
      <p><%= @profile.description %></p>
    </section>
  </section>
  <section class="user_options_wrapper">
    <% if user_signed_in? %>
      <% if current_user.id.to_s == @organization.organization_admins[0].user_id.to_s %>
        <%= link_to "Edit Organization", edit_organization_path %>
      <% else %>
        <a role="button" data-toggle="modal" data-target="#reportModal">Report Organization</a>
        <%= link_to "View Creator", user_path(@organization_creator.user_id) %>
      <% end  %>
    <% elsif system_admin_signed_in? %>
      <%= link_to "Edit Organization", edit_organization_path %>
    <% end %>
    <a role="button" data-toggle="modal" data-target="#imageModal">View profile photo</a>
    <%= link_to "View events", organization_events_path(params[:id]) %>
  </section>
</section>

<div class="modal fade" id="reportModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with url: report_organization_url ,method: "post" do |form| %>
          <%= form.text_area :reason, class: "form-control", placeholder: "Write the reason of your report..."%>
          <%= form.submit "Send", class: ["btn", "btn-primary"] %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Organization Picture</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <% if @profile.banner_picture.attached? %>
          <%= image_tag(@profile.banner_picture, width: "500px") %>
        <% else %>
          <%= image_tag("organization.jpeg", width: "500px")%>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<section class="invite_wrapper">
  <div class="container d-flex align-items-center justify-content-between">
    <h1 class="wrapper_title">Members: </h1>
    <% if user_signed_in? %>
      <% if current_user.id.to_s == @organization.organization_admins[0].user_id.to_s %>
        <%= link_to(
                content_tag(
                    :i,
                    nil,
                    class: 'fas fa-plus fa-lg fa-2x'
                ),
                invites_organization_path,
                method: :get
            )
        %>
      <% end %>
    <% end %>

  </div>
  <% @organization_members.each do |member| %>
    <section class="user">
      <% if member.user.user_profile.profile_picture.attached? %>
        <%= image_tag(member.user.user_profile.member, width: "60px") %>
      <%else %>
        <%= image_tag("profile.png", width: "60px", background: "#55595c", color: "#eceeef") %>
      <% end %>
      <% full_name =  member.user.name + " " + member.user.lastName%>
      <p class="ml-1"><b><%= link_to full_name, user_path(member.user.id)%></b></p>
      <% if system_admin_signed_in? or current_user.id.to_s == @organization.organization_admins[0].user_id.to_s%>
        <div class="ml-auto p-2">
          <%= link_to(
                  content_tag(
                      :i,
                      nil,
                      class: 'fa fa-trash-o fa-lg'
                  ),
                  delete_member_organization_path(member: member.id),
                  method: :delete
              )
          %>
        </div>
      <% end %>
    </section>
  <% end %>
</section>
<section class="events_wrapper">
    <h1 class="wrapper_title">This Organization's Public Events:</h1>
      <div class="event_section_wrapper">
        <% if @organization_events != []%>
          <%= render :partial => 'events/events_list', collection: @organization_events, as: :event %>
        <% else %>
          <section class="event_section">
            <h2 class="Nothing_found"> Nothing Found </h2>
          </section>
        <% end %>
      </div>
</section>