<!DOCTYPE html>
<html>
<head>
  <title>CourseProjectJcastroRlemay</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <script src="https://kit.fontawesome.com/bb30ccd945.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class = "topnav">
      <section class="header_brand">
        <h1 class="page_name"><%= link_to "Eventer", root_path%></h1>
      </section>
      <section class="header_search">
        <%= form_with(url: "/search", method: "get") do %>
          <%= text_field_tag(:query) %>
          <%= link_to submit_tag("Search"), search_path %>
        <% end %>
      </section>
      <section class="header_rightPart">
        <h3><%= link_to "New Event", new_event_path %></h3>
        <h3><%= link_to "Events", events_path %></h3>
        <h3><%= link_to "Inbox", user_inboxes_path(1) %></h3>
        <h3><%= link_to "Profile", controller: "users", action: "show", id: 1 %></h3>
      </section>

    </div>
  </header>

  <main>
    <%= yield %>
  </main>

  <footer class="footer">
    <section class="footer_copyright">
      <h4>WebTechs 2020 ©</h4>
    </section>
    <section class="footer_icons">
      <i class="fab fa-facebook-square fa-2x"></i>
      <i class="fab fa-twitter-square fa-2x"></i>
      <i class="fab fa-reddit-square fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
    </section>
    <section class="footer_tos">
      <b><%= link_to "AuP and ToS", terms_path %></b>
    </section>
  </footer>

</body>
</html>