<!DOCTYPE html>
<html>
<head>
  <title>CourseProjectJcastroRlemay</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/bb30ccd945.js" crossorigin="anonymous"></script>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <header>
    <div class = "topnav">
      <section class="header_brand">
        <h1 class="page_name"><b><%= link_to "Eventer", root_path%></b></h1>
      </section>
      <section class="header_search">
        <%= form_with url: search_path, method: :get, local: true do |form| %>
          <div class="form-inline row">
            <%= form.text_field :query, :placeholder => "Search", class: "form-control" %>
            <%= form.submit "Search", class: ["btn", "btn-primary"] %>
          </div>
        <% end %>
      </section>
      <section class="header_rightPart">
        <h3><%= link_to "New Event", new_event_path %></h3>
        <h3><%= link_to "Events", events_path %></h3>
        <h3><%= link_to "Inbox", user_inboxes_path(1) %></h3>
        <h3><%= link_to "Profile", user_path(1)%></h3>
      </section>

    </div>
    <% if notice.present? %>
      <div class="mb-0" role="alert">
        <div id="notice" class="alert alert-success mb-0"><%= notice %></div>
      </div>
    <% end %>
    <% if alert.present? %>
      <div class="mb-0" role="alert">
        <div id="alert" class="alert alert-danger mb-0"><%= alert %></div>
      </div>
    <% end %>
  </header>


  <main>
    <%= yield %>
  </main>

  <footer class="footer">
    <section class="footer_copyright">
      <h4>WebTechs 2020 ©</h4>
    </section>
    <section class="footer_icons">
      <i class="fab fa-facebook-square fa-2x"></i>
      <i class="fab fa-twitter-square fa-2x"></i>
      <i class="fab fa-reddit-square fa-2x"></i>
      <i class="fab fa-instagram fa-2x"></i>
    </section>
    <section class="footer_tos">
      <b><%= link_to "AuP and ToS", terms_path %></b>
    </section>
  </footer>

</body>
</html>